<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>588116543069-102gmaag7m1bhtn04lcluuipmqp7jqv8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.588116543069-102gmaag7m1bhtn04lcluuipmqp7jqv8</string>
	<key>API_KEY</key>
	<string>AIzaSyD_VWrSbks3qThJ69dZ6kNVPLZFgrRd2xk</string>
	<key>GCM_SENDER_ID</key>
	<string>588116543069</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ideaShare.Hatchling</string>
	<key>PROJECT_ID</key>
	<string>hatchling-3d40a</string>
	<key>STORAGE_BUCKET</key>
	<string>hatchling-3d40a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:588116543069:ios:0de476e5eb65784b</string>
	<key>DATABASE_URL</key>
	<string>https://hatchling-3d40a.firebaseio.com</string>
</dict>
</plist>